[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/bundle/Dockerfile.vim
	url = git@github-personal:ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = git@github-personal:rking/ag.vim
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git@github-personal:scrooloose/nerdcommenter.git
[submodule ".vim/bundle/swift.vim"]
	path = .vim/bundle/swift.vim
	url = git@github-personal:keith/swift.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git@github-personal:altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-csharp"]
	path = .vim/bundle/vim-csharp
	url = git@github-personal:OrangeT/vim-csharp.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github-personal:tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github-personal:plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github-personal:tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-ps1"]
	path = .vim/bundle/vim-ps1
	url = git@github-personal:PProvost/vim-ps1.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = git@github-personal:derekwyatt/vim-scala.git
[submodule ".vim/bundle/vim-python-pep8-indent"]
	path = .vim/bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule ".vim/bundle/terminus"]
	path = .vim/bundle/terminus
	url = https://github.com/wincent/terminus.git
